In [6]:
import pandas as pd
import re

In [7]:
import glob
files = glob.glob("*.gcode")

if len(files) > 1:
    print("Error: Too many Gcode files found!")

# Create temporary file (replace with appropriate temporary file handling)
filename = files[0]
with open(filename, 'rb') as f_in, open('temp.dat', 'wb') as f_out:
    f_out.write(f_in.read())

In [23]:
  def parse_float(value):
    match = re.search(r"(?<=[\w-])\d+(\.\d+)?", value)
    return float(match.group()) if match else None

In [24]:
# Define reading options
opts = pd.read_csv(filename, sep=' ', header=None,
                names=['Raw', 'Operation', 'X', 'Y', 'Z', 'Speed'],
                dtype={'Operation': object},
                comment=';', skipinitialspace=True, na_values=[''],
                converters={'X': parse_float, 'Y': parse_float, 'Z': parse_float, 'Speed': parse_float})

error: bad character range \w-z at position 5

In [20]:
opts.head(20)

     Raw  Operation        X      Y     Z Speed
0     T0        NaN      NaN    NaN  None  None
1   M104       S250      NaN    NaN  None  None
2   M105        NaN      NaN    NaN  None  None
3   M109       S250      NaN    NaN  None  None
4    M82        NaN      NaN    NaN  None  None
5    G92         E0      NaN    NaN  None  None
6    G92         E0      NaN    NaN  None  None
7   M107        NaN      NaN    NaN  None  None
8     G0      F3600  102.793    NaN  None  None
9     G1      F1200  107.186  16.86  None  None
10    G1  X-105.709   16.801    NaN  None  None
11    G1  X-105.674   16.943    NaN  None  None
12    G1  X-102.965    3.004    NaN  None  None
13    G1  X-102.591    8.944    NaN  None  None
14    G1  X-104.822   20.422    NaN  None  None
15    G1   X-103.97   23.901    NaN  None  None
16    G1  X-102.092   14.236    NaN  None  None
17    G1  X-101.335   18.203    NaN  None  None
18    G1  X-103.119   27.381    NaN  None  None
19    G1  X-102.267   30.859    NaN  None  None

In [9]:
data = opts[['X', 'Y', 'Z', 'Speed']].apply(pd.to_numeric, errors='coerce')

In [51]:
data.head(20)

          X          Y          Z  Speed Operation
0       NaN        NaN        NaN    NaN       nan
1       NaN        NaN        NaN    NaN       nan
2       NaN        NaN        NaN    NaN       nan
3       NaN        NaN        NaN    NaN       nan
4       NaN        NaN        NaN    NaN       nan
5       NaN        NaN        NaN    NaN        92
6       NaN        NaN        NaN    NaN        92
7       NaN        NaN        NaN    NaN       nan
8   102.793    5.74100    2.25000    NaN         0
9   107.186   16.86000  114.51188    NaN         1
10   16.801  121.86374        NaN    NaN         1
11   16.943  122.59112        NaN    NaN         1
12    3.004  193.21515        NaN    NaN         1
13    8.944  222.81679        NaN    NaN         1
14   20.422  280.97206        NaN    NaN         1
15   23.901  298.78651        NaN    NaN         1
16   14.236  347.75533        NaN    NaN         1
17   18.203  367.84159        NaN    NaN         1
18   27.381  414.34357        NaN    NaN         1
19   30.859  432.15318        NaN    NaN         1

In [56]:
data['Operation'] = opts['Raw'].str.extract(r"(?<=G)(\d+)", expand=False).astype(str)

In [57]:
data.head(20)

          X          Y          Z  Speed Operation
0       NaN        NaN        NaN    NaN       nan
1       NaN        NaN        NaN    NaN       nan
2       NaN        NaN        NaN    NaN       nan
3       NaN        NaN        NaN    NaN       nan
4       NaN        NaN        NaN    NaN       nan
5       NaN        NaN        NaN    NaN        92
6       NaN        NaN        NaN    NaN        92
7       NaN        NaN        NaN    NaN       nan
8   102.793    5.74100    2.25000    NaN         0
9   107.186   16.86000  114.51188    NaN         1
10   16.801  121.86374        NaN    NaN         1
11   16.943  122.59112        NaN    NaN         1
12    3.004  193.21515        NaN    NaN         1
13    8.944  222.81679        NaN    NaN         1
14   20.422  280.97206        NaN    NaN         1
15   23.901  298.78651        NaN    NaN         1
16   14.236  347.75533        NaN    NaN         1
17   18.203  367.84159        NaN    NaN         1
18   27.381  414.34357        NaN    NaN         1
19   30.859  432.15318        NaN    NaN         1

In [58]:
import math
data["Operation"] = data["Operation"].apply(lambda x: 'G'+x if x != 'nan' else '')

In [59]:
data

             X           Y   Z  Speed Operation
0          NaN         NaN NaN    NaN
1          NaN         NaN NaN    NaN
2          NaN         NaN NaN    NaN
3          NaN         NaN NaN    NaN
4          NaN         NaN NaN    NaN
...        ...         ...  ..    ...       ...
197251  73.547  6336.19138 NaN    NaN        G1
197252  83.303  6406.35888 NaN    NaN        G1
197253  86.276  6423.85371 NaN    NaN        G1
197254     NaN         NaN NaN    NaN
197255     NaN         NaN NaN    NaN

[197256 rows x 5 columns]

In [60]:
data = data.loc[(data['Operation'] != 'G0') & (data['Operation'] != 'G92') & (data['Operation'] != '')]

In [61]:
data

              X           Y          Z  Speed Operation
9       107.186    16.86000  114.51188    NaN        G1
10       16.801   121.86374        NaN    NaN        G1
11       16.943   122.59112        NaN    NaN        G1
12        3.004   193.21515        NaN    NaN        G1
13        8.944   222.81679        NaN    NaN        G1
...         ...         ...        ...    ...       ...
197249   53.923  6214.58477        NaN    NaN        G1
197250   64.147  6275.38619        NaN    NaN        G1
197251   73.547  6336.19138        NaN    NaN        G1
197252   83.303  6406.35888        NaN    NaN        G1
197253   86.276  6423.85371        NaN    NaN        G1

[193820 rows x 5 columns]

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193820 entries, 9 to 197253
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   X          193820 non-null  float64
 1   Y          193820 non-null  float64
 2   Z          2706 non-null    float64
 3   Speed      0 non-null       float64
 4   Operation  193820 non-null  object
dtypes: float64(4), object(1)
memory usage: 8.9+ MB

In [63]:
data = data.fillna(method='ffill')

C:\Users\alvaro\AppData\Local\Temp\ipykernel_18400\917065080.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data = data.fillna(method='ffill')

In [64]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193820 entries, 9 to 197253
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   X          193820 non-null  float64
 1   Y          193820 non-null  float64
 2   Z          193820 non-null  float64
 3   Speed      0 non-null       float64
 4   Operation  193820 non-null  object
dtypes: float64(4), object(1)
memory usage: 8.9+ MB

In [65]:
data['Speed'] = data['Speed'] / 60 / 1000

In [71]:
data["Speed"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Speed, dtype: float64

In [72]:
data

              X           Y           Z  Speed Operation
9       107.186    16.86000   114.51188    NaN        G1
10       16.801   121.86374   114.51188    NaN        G1
11       16.943   122.59112   114.51188    NaN        G1
12        3.004   193.21515   114.51188    NaN        G1
13        8.944   222.81679   114.51188    NaN        G1
...         ...         ...         ...    ...       ...
197249   53.923  6214.58477  5752.51178    NaN        G1
197250   64.147  6275.38619  5752.51178    NaN        G1
197251   73.547  6336.19138  5752.51178    NaN        G1
197252   83.303  6406.35888  5752.51178    NaN        G1
197253   86.276  6423.85371  5752.51178    NaN        G1

[193820 rows x 5 columns]